<div class="container container-fluid" >
<h2 id="head">All Users List</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>

    <tbody>
        <tr scope="row" *ngFor="let user of users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
</table>


</div>

