<div class="container container-fluid">
<div>
    <h1 style="text-align: center;"> Welcome!</h1>

<div class="card form">
    <div class="card-body">
    <form #userform = "ngForm" novalidate (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input required [(ngModel)]="u.firstName"  minlength="3" maxlength="12" name="firstName" #firstName="ngModel" type="text" id="firstName" class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors?.required">First Name is required</div>
                <div *ngIf="firstName.errors?.minlength">First Name is not in length</div>
                
                
            </div>
            <label for="lastName">Last Name</label>
            <input type="text"  [(ngModel)]="u.lastName" name="lastName" id="lastName" class="form-control">
        </div>
    
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"  [(ngModel)]="u.email" name="email" id="email" class="form-control">
        </div>
       
        <button class="button btn btn-primary" [disabled] = "userform.form.invalid">Submit</button>
    </form>
</div>
    
</div>

<div class="card count">
    <div class="card-body">
        <h2>Users : {{users.length}} </h2>

        <button id ="all" class="btn btn-warning" (click)="fun()">Get All</button>
    </div>
</div>

</div>
<div *ngIf="h" style="float: left; clear: left; width: 100%">
    <userlist></userlist>
    <button class="btn btn-danger" (click)="h=false" style="margin: auto; display: block;">Hide</button>
</div>

</div>
